
html,body{
    background-color: #f6f6f6;
}



.merchandise{
width: 100%;
}
.addBanner{
    width: 100%;
    background-color: #f6f6f6;
    height: 230px;
    position: relative;
}
.addBanner span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); 

}
.addBanner span img{
    display: block;
    width: 60px;
    margin:15% auto;
}

.merchandiseList{
    width: 100%;
}
.merchandiseList ul li{
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin-top: 8px;
}
.merchandiseList ul li input{
    color: #888888;
    height: 40px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
}
.merchandiseList .textes{
    height: auto;
}
.merchandiseList ul li textarea{
    height: 150px;
    background-color: none;
    border: 0;
    outline: none;
    color: #888888;
    text-indent: 12px;
    padding-top: 12px;
    
}

