/*格式化样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
q:before,q:after {content:''} 
abbr,acronym { border:0}

a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
  margin: 0;
  padding: 0;
}
body {
  background: #fff none repeat scroll 0 0;
  color: #666;
  font: 12px/150% Arial,Verdana,"宋体";
}

/*1.样式重置*/
html,body,ul,li,img,a,p,div,form,input{
  
  padding: 0;
  margin: 0;
  /*设置盒模型*/
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}
html {
 background-color: #ffff; 
}
body{
  font-family: "微软雅黑",sans-serif;
}
a,
a:hover{
  color: #000000;
  text-decoration: none;
}
ul{
  list-style: none;
}
input{
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}
/* 清除浮动 */
.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}


.hide {
  display: none !important;
}
.show {
  display: block !important;
}

.mui-table-view:after{ height:0}
.mui-table-view:before{ height:0}
.fl{
  float: left;
}
.fr{
  float: right;
}


/* s\input 清除默认 */

/* outline:none

这个属性在平常可能会经常遇到

兼容的解决方法： */

input{

  background:none;
  
  outline:none;
  
  border:0px;
  
  }
  
  /* 2.input聚焦时的样式 */
  
  input[type="text"]:focus,
  
  input[type="password"]:focus {
  
  /* border: 1px solid #eb7350; */
  
  background: #fff;
  
  outline: none;
  
  }
  /* ---------------------  */


   /* 保存按钮 */
   .buttons{
    width: 100%;
    margin-top: 20px;
}
.buttons input{
    display: block;
    width: 94%;
    height: 48px;
    background:linear-gradient(to right, #fe7d7c 50%,#ff4343 100%);
    border-radius: 24px;
    color: #f6f6f6;
    font-size: 16px;
    margin:auto;
}



/* 弹窗样式 */
body,
html {
    width: 100%;
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.shade {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
z-index: 998;
    display: none;
}

.alert_qd {
    width: 80%;
    height: 50px;
    background-color: pink;

    border-radius: 6px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.alert_btn {
    width: 260px;
    height: 160px;
    color: firebrick;
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
z-index: 999;
    display: none;
}

.moddles {
    width: 100%;
    height: 106px;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 14px;
    color: black;
    background-color: #fff;
}

.btns {
    width: 100%;
    border-top: 1px solid #dedede;
    position: absolute;
    bottom:0;
    transform: translateY(100%);
    left: 0;
}

.btns span {
    display: block;
    background-color: #fff;
    width: 50%;
    text-align: center;
    color: #181515;
    height: 36px;
    line-height: 36px;

}


.alert_btn .cancel {
    border-bottom-left-radius: 8px;

}

.alert_btn .confirm {
    border-bottom-right-radius: 8px;
    background-color: #ccc;
}

.title_btn {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #ea9191;
    font-size: 16px;
}

/* 弹窗end */
