.dk_box{
    width: 100%;
    height: 100%;
    position: relative;

}
.dk_header{
    width: 100%;
 position: relative;

}


.dk_header img{
    width: 100%;
 
}
.users{
    position: absolute;
    left: 20px;
    bottom: 0;
    transform:translateY(50%); 
    z-index: 10;
    width: 220px;
    height: 90px;
    /* background-color: red; */
}
.users p{
    text-align: left;
}
.users p i{
    
    width: 24px;
    height: 24px;
    font-size: 16px;
    
}
.users img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
       

}

.userRight{
    position: absolute;
    left: 80px;
    bottom: 10px;

}
.userRight span{
    color: #000;
}
.userRight a{
    color: red;
}

.dk_main{
    width: 96%;
    height: 150px;
   box-sizing: border-box;
   padding: 0 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-left: 2%;
}
.dk_main span {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
}
.dk_main span img{
    width: 30px;
    
}
.dk_main h4{
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    
}
.dk_main h4 b{
    color: red;
}

.dk_txt{
    height: 350px;
    width: 96%;
    margin-left: 2%;
    padding-top: 15px;
    
}
.dk_txt p{
    line-height: 22px;
    
}
.copyRight{
    border: 1px solid #828282;
    color: #828282;
    padding: 8px 15px;
    float: right;
    border-radius: 4px;
}

.myPaper{
    position: absolute;
    right: 0;
    bottom: 80px;
    background: linear-gradient(#fe7a79,#ff5858);
    width: 100px;
    height: 50px;
    text-align: center;
    color:#fff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    vertical-align: middle;
}

/* 显示大图 */

.datuBox{
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index:999;
}

.datuBox section img{
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.changan{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    padding: 6px 8px;
    background-color: rgb(92, 92, 92);
    border-radius: 4px;
    color: #c7c7c7;
    font-size: 12px;
  
}
.close_off{
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
}


