body,
html {
  background-color: #f6f6f6;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.memberBox {
  width: 100%;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 9px 14px 13px 14px;
  margin-bottom: 4px;
}
.header span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #d72c20;
  border-radius: 6px;
}
.header span img {
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: pink;
  margin: 6px;
}
.header span p {
  font-size: 12px;
  color: #fff;
  height: 60px;
  line-height: 60px;
}

/* 列表 */
.member_list .icon-gouxuan2 {
  color: #d72c20;
  font-size: 22px;
  float: left;
  margin: 8px;
}
.member_list ul li {
  width: 100%;
  height: 40px;
  margin-bottom: 1px;
  background-color: #fff;
}
.member_list ul li p {
  font-size: 14px;
  float: left;
  height: 40px;
  line-height: 40px;
  color: #d72c20;
}
/* 主题部分 */
.main {
  width: 100%;
  box-sizing: border-box;
  background-color: #d72c20;
  padding: 35px 15px 10px 15px;
}
.mian_list {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
}
.mian_list ul {
  width: 100%;
  box-sizing: border-box;

  border: dashed red 1px;
  border-radius: 6px;
}
.main_item {
  width: 100%;
  border-bottom: 1px solid red;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main_item:last-child {
  border-bottom: 0;
}
.main_item span {
  width: 50%;
}
.lefts {
  box-sizing: border-box;
  padding: 20px 0 0 15px;
}
.main_item span h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: -2px;
}
span.lefts b {
  font-weight: 400;
  font-size: 12px;
  text-decoration: line-through;
}
.rights {
  position: relative;
  padding-top: 18px;
}
.rights h4 {
  font-weight: 400;
  font-size: 12px;
  color: red;
  margin-left: 10px;
}
.rights h4 b {
  font-size: 14px;
  margin-left: 10px;
}

.rights h5 {
  font-size: 12px;
  margin-left: 5px;
}
.rights h5 p {
  color: #d72c20;
  display: inline-block;
}

.rights nav {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 13px;
  top: 26px;
}
.rights nav i {
  position: absolute;
  left: 0;
  top: 0;
}
.rights nav .iconfont {
  font-size: 22px;
  color: red;
}
.rights nav .yuan {
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  top: -2px;
  border-radius: 50%;
}
/* 选中按钮 */

.mySelect .iconfont {
  display: none;
}
/* 优惠通知 */
.lefts h3 {
  position: relative;
}
.lefts h3 p {
  width: 100%;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 60%;
  color: red;
  /* transform:translateX(100%);     */
}
.lefts {
  position: relative;
}
.lefts section {
  display: block;
  width: 50px;
  height: 20px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e76057;
  text-align: center;
}
/* 支付 */
.payFor {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.weixin {
  width: 96%;
  margin-left: 2%;
  height: 48px;
  text-align: center;
  background-color: #25ae60;
  border-radius: 6px;
  font-size: 16px;
  color: #f6f6f6;
  line-height: 48px;
}
/* 恭喜顶部 */

.mian_top {
  width: 100%;
  text-align: center;
  height: 30px;

  margin-top: -15px;
  color: #f6f6f6;
}
.mian_top p {
  line-height: 8px;
  vertical-align: middle;
}
.mian_top p i {
  margin: 5px 10px 0 0px;
}
