html,body{
    background-color: #f6f6f6;
}
.user_box{
    width: 100%;
    
    position: relative;
}

.userTop{
    width: 100%;
    height: 245px;
    background:linear-gradient(to right, #fe7d7c 50%,#ff4343 100%);
position: relative;
}

.ddImg{
    width: 30px;
    height: 30px;
position: absolute;
top: 8px;
left: 8px;
}
.ddImg img{
    display: block;
    width: 22px;
    height: 22px;
}
.scMy{
    width: 120px;
    height: 100px;
    position: absolute;
    top: 5px;
    right: 0;
    padding-left: 10px;
  
}
.scMy p{
    display: block;
    width: 100px;
    height: 26px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    color: #f6f6f6;
}
.scMy span{
    display: block;
    width: 100px;
    height: 26px;
    background-color: #ffda7c;
    border-radius: 13px;
    text-align: center;
    line-height: 26px;
    color: #ff4b4a;
    margin-top: 10px;
}
.userPerson{
    width: 270px;
    margin: auto;
    height: 100%;

    padding-top: 25px;
    color: #fff5f5;
    text-align: center;
    
}
.userPerson h4{
    font-size: 16px;
    font-weight: 600;
   margin-top: 12px;
}
.userPerson b{
    font-weight: normal;
}
.userPerson span{
    display: block;
    width: 64px;
    height: 64px;
    margin: auto;
}
.userPerson p{
    margin-top:2px;
    margin-bottom: 2px; 
}
.userPerson p i img{
width: 22px;
height: 22px;
vertical-align:middle;

}

.dizhi i img{
    width: 22px;
height: 22px;
vertical-align:middle;
}


/* 我的电话  微信 */
.wodePhone{
    width: 96%;
    height: 82px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    left: 2%;
    z-index: 10;
    transform:translateY(74%); 
    display: flex;
    box-shadow: 1px 2px 5px #f7aaaa;

}
.wodePhone span{
width: 50%;
position: relative;
}
.wodePhone .olines{
    width: 1px;
    height: 64px;
    background-color: #f1f1f1;
    margin-top: 9px;
}
.wodePhone span img{
    width: 31px;
 position: absolute;
 left: 20px;
 top: 27px;
}
.wodePhone span h4{
    position: absolute;
    left: 63px;
    top: 22px;


}
.wodePhone span p{
    position: absolute;
    left: 63px;
    top: 41px;
    color: #ff4b4a;
}

/* 评价 */
.evaluate{
    width: 100%;
    /* height: 250px; */
    background-color: #fff;
    padding-top: 80px;
    box-sizing: border-box;
    padding-bottom: 25px;
    position: relative;
}
.evaluate h4{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 15px;
}
.evaluateList{
    width: 100%;
}
.evaluateList span{
    float: left;
    height: 24px;
    padding: 3px 15px;
    border-radius:24px;
    border: 1px solid #ccc;
    line-height: 24px;
    margin-left: 14px;
    color: #808080;
    margin-top: 10px;

}
.evaluateList span p,.evaluateList span b{
float: left;
}
.evaluateList span b{
    font-weight: normal;
    padding-left: 5px;
}

.addYx{
position: absolute;
top: 78px;
right: 5px;
height: 25px;
width: 82px;

}

.addYx img{
width: 25px;
float: left;
}

.addYx b{
    display: inline-block;
    font-weight: normal;
    height: 25px;
    position: absolute;
    right: 7px;
    top: 3px;
}
.mores{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #808080;
}
/* 我的相册 */
.myPhoto{
    width: 100%;
   position: relative;
    background-color: #fff;
    margin-top: 8px;
    padding-bottom: 20px;
}
.myPhoto h4{
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 10px;
}
.photo_boxs{
    width: 100%;
box-sizing: border-box;
padding: 10px;
}
.photo_s {
    width: 100%;
    display: flex;
 
}
.photo_s li{
    width: 33%;
    
}

.photo_s li img{
    width: 96%;
    margin: auto;
    margin-left: 2%;
    
}

/* 正在热卖商品 */
.hotCommodity{
    width: 100%;
    background-color: #fff;
    margin-top: 8px;
    position: relative;
    padding-bottom: 15px;
}

.commodityList{
    width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.hotCommodity h4{
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 10px;
}
.commodityList{
    width: 95%;
    height: 132px;
    border-radius: 15px;
    margin-top: 12px;
    /* text-align: center; */
    background: #FFF9F9;
}
.commodityList .add{
    width: 50%;
    margin: 0px auto;
}
.commodityList span:first-of-type{
    display: inline-block;
    height: 30px;
    color: #717171;
}
.commodityList span:nth-of-type(2){
    display: inline-block;
    height: 30px;
    color: #FF8383;
    margin: 56px 0;
}
.commodityList span p{

    color: #ff4343;
}
.commodityList span p b{
        font-weight: normal;
}
.commodityList h4{
    font-size: 12px;
    font-weight: normal;
}
.hot_top{
    position: absolute;
    top: 15px;
    left: 30px;
    width: 62px;
    height: 24px;
    background-color:#ff4343;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    line-height: 24px;
    color: #f6f6f6;
    font-size: 12px;
}
/*我推荐的文章 */

.recommend{
    width: 100%;
    background-color: #fff;
    margin-top: 8px;
    position: relative;
}
.recommend h4{
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 10px;
}
.recommendList {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
}
.recommendList ul li{
width: 100%;
height: 80px;
border-bottom: 1px solid #ccc;
}
.recommendList ul li:last-child{
    border-bottom: 0;
}
.recommendList  li a img{
    width: 65px;
    
}
.recommendList  li a{
    width: 100%;
    display: flex;
justify-content: space-around;
padding: 10px 0;
}
.recommendList  li a p{
width: 75%;
color: #717171;
line-height: 24px;
}

.recommendList  li a span{
    width: 18%;
    }

/* 商城 */
.shangcheng{
    position: fixed;
    bottom: 20%;
    right: 0;
    width: 72px;
    height: 42px;
    background:linear-gradient(to bottom, #fe7d7c 50%,#ff4343 100%);
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    text-align: center;
    line-height: 42px;
    color: #f1f1f1;
}