
html,body{
    background-color: #f6f6f6;
}
.shoppingBox{
    width: 100%;
    
}
.shoppin_top{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 8px;
}
.zhiding{
position: relative;
    width: 50%;

  
    text-align: center;
    
}
.zhiding p{
    color: #797979;
}
.zhiding b{
    font-weight: normal;
    color: #ff5858;
}
.zhiding img{
    width: 84%;
    margin-left:8%;

}

.hot_tops{
    width: 60px;
    height: 26px;
    background:linear-gradient(to bottom, #fe7d7c 50%,#ff4343 100%);
    position: absolute;
    left: 0;
    top: 0;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    line-height: 17px;
    padding: 5px;
    color: #ececec;
}


/* q全部 */

.shoppin_all{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    
}
.shoppin_all h4{
    height: 50px;
    width: 100%;
}
.shoppin_all h4 b{
    font-size: 14px;

}
.shoppin_all h4 p{
    font-size: 12px;
    color: #797979;
    float: right;
}

.addShpooing{
    width: 50px;
    height: 50px;
    background:linear-gradient(to bottom, #fe7d7c 50%,#ff4343 100%);
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
   
    position: fixed;
    right: 5px;
    top: 70%;
}
.addShpooing a{
    color: #fff;
}