html,body{
    background-color: #f6f6f6;
}


.set_box{
    width: 100%;
}
.titleBanner{
   width: 100%;
height: 120px;
    background:#ff5757 url("../img/user/beijing.png") no-repeat center;
    background-size: 100%;
    position: relative;
}

.user{
    width: 200px;
    height: 70px;
   
    position: absolute;
    left: 15px;
    top: 21px;
}
.user_mains{
    position: absolute;
    left: 70px;
    top: 3px;
    color:#eaeaea;
    font-size: 12px;
}
.user_mains h3{
    font-size: 14px;
    color: #fff;
}
.userVip{
    position: absolute;
    right: 15px;
    top: 35px;
    text-align: right;
    color: #000;
}
.userVip input{
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    margin-bottom: 2px;
}
/* 通知 */
.xiaoxi{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
}
.xiaoxi img{
float: left;
    width: 20px;
    /* margin-top: 13px; */
    margin: 13px 15px 0 15px;
}
.xiaoxi p{
    float: left;
}

/* 钱包 */
.myMoneys{
    width: 100%;
    padding: 10px 0;
    display: flex;
    background-color: #fff;
    margin-top: 6px;

}
.myMoneys span{
    width: 33.33%;
    border-left: 1px solid #ccc;
    height: 64px;
    text-align: center;
    padding-top: 5px;
}
.myMoneys span:first-child{
    border: 0;
}
.myMoneys span b{
    font-size: 16px;
height: 32px;
line-height: 32px;
color: #fd7575;
}
.myMoneys span p{
    color: #a0a0a0;
}
/* 列表 */
.xq_list{
    width: 100%;
    background-color: #fff;
    margin-top: 6px;
    box-sizing: border-box;
    padding:0 10px;
}
.xq_list ul li{
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #ccc;
    font-size: 22px;
}
.xq_list ul li a{
    display: inline-block;
    width: 94%;
    height: 100%;
    
}
.xq_list ul li:last-child{
    border: 0;
}
.xq_list ul li img{
width: 32px;
vertical-align: middle;
margin-top: -3px;
}
.xq_list ul li span{
    /* display:inline-block; */
    width: 70%;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
.xq_list ul li b{
 float: right;
 height: 42px;
 line-height: 42px;
 font-weight: normal;
 margin-right:5px; 
 font-size: 12px;
}

.CopyRight{
    text-align: center;
    margin-top: 50px;

}
.CopyRight h4{
    font-size: 14px;
    font-weight: 500;
}