html,body{
    background-color: #f6f6f6;
}
.person{
    width: 100%;
    height: 100%;
}
.person_main{
    width: 100%;
 
}
.person_list{
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    padding-top: 10px;
}
.person_list li{
    position: relative;
    height: 48px;
    width: 100%;
   border-bottom: 1px solid #dedede;
   box-sizing: border-box;
   padding: 0 5px;
   background-color: #fff;
}

.person_list li p{
    font-size: 12px;
    font-weight: 600;
    color: #151515;
    float: left;
    line-height: 48px;
}

.person_list li span{
    float: right;
    height: 48px;
    line-height: 48px;
color: #666666;
}


.user_img img{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform:translateY(-50%); 
}
.person_list .complay{
    margin-top: 8px;
    border: 0;
    margin-bottom: 30px;
}
.person_list .file_ewm{
    border: 0;
    height: 68px;
}
.file_ewm b{
    font-weight: normal;
    color: #ccc;
    position: absolute;
    left: 5px;
    bottom: 18px;

}

.file_ewm span img{
    display: block;
    width: 45px;
    height: 45px;
   margin-top: 12px;

}
.complay b{
    position: absolute;
    right: 5px;
    top: 110%;
    font-weight: normal;
    color: #c3c3c3;
}

/* 点击头像 */
.zzbgc{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(0,0,0,.4);
    z-index: 10;
    display: none;
}
.zzfoot ul{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.zzfoot ul li{
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-bottom: #c3c3c3 1px solid;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
}

