html,body{
    background-color: #f6f6f6;
}

.product_box{
    width: 100%;
    padding-bottom: 60px;
    
}
.bannerList{
width: 100%;
background-color: #fff;
}
.bannerList p{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #585858;
    font-weight: 600;
    margin-left: 10px;
}
.banners{
    width: 100%;
    height: 285px;
    overflow-y: hidden;
    
}

.check_img,.close_top{
    position: absolute;
    right: 10px;
width: 80px;
height: 26px;

border-radius: 4px;
font-size: 12px;
}
.check_img{
    
    top: 260px;
    border:1px solid #ff5757;
    background-color: none;
    color: #ff5757;
    
}
.close_top{
    
    top: 30px;
    color: #f6f6f6;
    background-color: #ff5757;
}


.banners img{
    width: 100%;
    background-size: 100%;
}

.product_jg{
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 46px;
    line-height: 46px;
color: #ff5757;
box-sizing: border-box;
padding-left: 10px;
}
.product_jg p,.product_jg input{
    float: left;
}
.product_jg input{
    height: 46px;
    color: #ff5757;
    
}
.product_jg .texts{
    display: block;
    border: 0;
    height: auto;
    color: #696969;
    line-height: 22px;
    box-sizing: border-box;
    padding: 10px;
padding-bottom: 15px;
}

.btn_phone{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}
.btn_phone span{
    float: left;
height: 32px;
width: 150px;
margin-top: 10px;
margin-left: 12px;
}
.btn_phone span img{
    width: 32px;
    height: 32px;
}
.btn_phone span b{
 font-size: 14px;
    position: absolute;
    top: 50%;
    left:50px ;
    transform:translateY(-50%); 
}
.btn_phone p{
    float: right;
    width: 71px;
    height: 29px;
   position: relative;
  
    border: 1px solid #ff5757;
    border-radius: 4px;
    margin-right: 15px;
    margin-top: 10px;
}
.btn_phone p img{
    position: absolute;
    left: 8px;
    top: 3px;
    width: 22px;
    height: 22px;
}
.btn_phone p b{
    position: absolute;
    top: 65%;
    left: 34px;
    transform: translateY(-50%);
    height: 29px;
    width: 30px;
   font-weight: normal;
}

/* 弹出层 */

.shildes{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 999;
}
.shild_box{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 300px;
    height: 240px;
    background-color: #fff;
    transform:translate(-50%,-50%); 
    text-align: center;
    border-radius: 8px;
}
.shild_top{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.shild_btn{
    position: absolute;
    left: 0;
    bottom: 0;
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.shild_btn span{
    display: block;
    width: 50%;
    height: 36px;
  
    line-height: 36px;
    border-top: 1px solid #ccc;

}
.shild_btn span:nth-child(2){
    border-bottom-right-radius: 8px;
    color: #ff5757;
}
.shild_btn span:first-child{
    border-bottom-left-radius: 8px;
    
}
.onlines{
    height: 25px;
    width: 1px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    top: 5px;
}
/* 文本编辑弹窗 */
.textsBox{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 999;
}
.textMain{
    padding-top: 6px;
    background-color: #fff;
    width: 100%;
    padding-bottom: 25px;
}
.textMain textarea{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  padding: 6px;
}


