html,body{
    background-color: #f6f6f6;
}

.helps{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px;
}
.help_title{
    width: 100%;
}
.help_title h4{
    font-size: 16px;
    font-weight: 700;
}
.help_title p{
    height: 40px;
    line-height: 40px;
}
.help_title p a{
color: #6479a5;
}
.title_xy{
    margin-bottom: 10px;
}
.help_main{

}

.help_main{
width: 100%;
}
.help_main h4{
    font-weight: 600;
    line-height: 26px;
    font-size: 14px;
    margin-top: 20px;
}
.helps h5{
    height: 48px;
    line-height: 48px;
    color: #a9a9a9;
}


