html,body{
    background-color: #fff;
}
.people{
    width: 100%;
    height: 100%;
}

.peopleBox{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #908f8f;
    background-color: #f6f6f6;
   
}
.peopleMain{
    background-color: #fff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.peopleMain ul li{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #dedede;
    padding:12px 0;
    display: flex;
    justify-content:space-between;

}
.user_tou{
    width: 46px;
    height: 46px;
}
.users{
    width: 60%;
    font-size: 14px;
    font-weight: 600;
}
.users h4 p {
    margin-top: 5px;
    font-size: 12px;
    color: #949393;
}
.btn_nav{
    height: 28px;
    width: 20%;
  border: 1px solid #00bc10;
   color: #00bc10;
    line-height: 28px;
    border-radius: 4px;
    margin-top: 5px;
}
.btn_nav img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 3px;
}

.users h4 .non_payment{
    color: #ff4343;
}