html,body{
    background-color: #f6f6f6;
}
.seeBox{
    width: 100%;

}
.seeBox h2{
    width: 100%;
  box-sizing: border-box;
    line-height: 21px;
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
}
.see-top{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    text-align: center;

}
.see-top span{
    width: 50%;
    box-sizing: border-box;
    padding: 12px;

}
.see-top span b{
    color: #ff2a2a;
    font-size: 14px;
}
.see-top span p{
    margin-top: 5px;
}
/* 列表部分 */
.seeMain{
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-top: 6px;
    box-sizing: border-box;
    padding: 5px 10px;
}
.seeMain ul li{
    border-bottom: 1px solid #ccc;
    position: relative;
}

.imgUser{
    display: block;
    width: 240px;
    height: 100px;
   
}
.imgUser img{
    width: 70px;
    float: left;
    
}
.imgUser nav{
    display: block;
   
    width: 170px;
    float: left;
    height: 70px;
    box-sizing: border-box;
    padding-left: 10px;
}
.imgUser nav p{
   font-weight: 600;
}
.imgUser nav b{
    display: block;
    font-weight: normal;
    padding: 5px 0;

}
.btn_to{
    position: absolute;
    right: 12px;
    top: 0;
    height: 100%;
}
.btn_to input{
    position: absolute;
    top: 37%;
    right: 0;
    padding: 5px 8px;
    border-radius: 4px;
   border:1px solid
}
