.solicitBox{
    width: 1005;

}
.solicitTop{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.solicitTop h4{
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 500;
}
.solicitTop textarea{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 0;
    border: 1px solid #ccc;
    outline: none;
    color: #ccc;
}

.cerat_help{
    width: 100%;
display: flex;
flex-wrap: wrap;
}
.cerat_help h4{
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 12px;
}
.cerat_help span{
    width: 50%;

}
.cerat_help span p{
    width: 70%;
    margin: auto;
    color: #464646;
}
.cerat_help img{
    display: block;
    width: 65%;
   margin:10px auto;
  
}
.buttons input{
    border-radius: 6px;
    font-size: 15px;
}
