html,body{
    background-color: #f6f6f6;
}
.setCompany{
    width: 100%;

}
.search{
    width: 100%;
    /* background-color: #fff; */
    box-sizing: border-box;
    padding: 5px 10px;
    position: relative;
}
.search img{
    width: 26px;
    vertical-align: middle;
    position: absolute;
    left: 14px;
    top: 9px;
}
.search input{
    text-indent: 30px;
    height: 36px;
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
  
}
/* 我的品牌 */
.myPin{
    width: 100%;
    box-sizing: border-box;
    
    padding: 10px;
    
}
.myPin h4{
    font-size: 14px;
    font-weight: 60;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.myPin ul li{
    float: left;
    padding: 6px 14px;
    border-radius: 4px;
    border: #ff4948 solid 1px;
    margin-right: 14px;
    margin-top: 12px;
}
.myPin ul li span{
    display: inline-block;
    padding-right: 5px;
    color: #ff4948;
}
.myPin ul li p{
    display: inline-block;
    color: #ff4948;
}



.myPinHot{
    width: 100%;
    box-sizing: border-box;
    
    padding: 10px;
    
}
.myPinHot h4{
    font-size: 14px;
    font-weight: 60;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.myPinHot ul li{
    float: left;
    padding: 6px 14px;
    border-radius: 4px;
    border: #ccc solid 1px;
    margin-right: 14px;
    margin-top: 12px;
}
.myPinHot ul li span{
    display: inline-block;
    padding-right: 5px;
    color: #ccc;
  
}
.myPinHot ul li p{
    display: inline-block;

}



.showList{
    width: 100%;
    background-color: #fff;
    padding: 0 10px;
    display: none;
    position: relative;
    
}
.showList li{
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    border-top: 1px solid #ccc;

}
.showList li:first-child{
    color: #ff4948;
    border-top: 0;
}
.showList li span,.showList li p{
    display: inline-block;
}
.showList li span{
  font-size: 15px;

}
.showList li p{
    font-size: 12px;
    margin-left: 15px;
}
.showList li.active{
    color: #fe7a79;
}


.search span{
    
    position: absolute;
    right: 15px;
    top: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bebebe;
    color: #fff;
    text-align: center;
    line-height: 20px;
    display: none;
}


/* 弹出层 */

.shildes{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 999;
}
.shild_box{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 300px;
    height: 240px;
    background-color: #fff;
    transform:translate(-50%,-50%); 
    text-align: center;
    border-radius: 8px;
}
.shild_top{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.shild_btn{
    position: absolute;
    left: 0;
    bottom: 0;
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.shild_btn span{
    display: block;
    width: 50%;
    height: 36px;
  
    line-height: 36px;
    border-top: 1px solid #ccc;

}
.shild_btn span:nth-child(2){
    border-bottom-right-radius: 8px;
    color: #ff5757;
}
.shild_btn span:first-child{
    border-bottom-left-radius: 8px;
    
}
.onlines{
    height: 25px;
    width: 1px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    top: 5px;
}