html,body{
    background-color: #f6f6f6;
}

.money_box{
    width: 100%;
}

.money{
    width: 100%;
    height: 240px;
    position: relative;
    background:linear-gradient(to right, #fe7d7c 50%,#ff4343 100%);
}
.user_xq{
position: absolute;
left: 15px;
top: 25px;

width: 150px;
}
.user_xq img{
width: 50px;

}
.user_xq h4{
    position: absolute;
    left: 58px;
    top: 8px;
    font-size: 16px;
    color: #fff6f6;
}
.user_xq p{
    position: absolute;
    left: 58px;
    top: 27px;
    color: #fff6f6;
}

.user_je{
    display: block;
    width: 160px;
    height: 60px;
  
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%); 
    text-align: center;
    color: #fff;
}
.user_je p{
font-size: 18px;
margin-bottom: 10px;

}
.user_je p b{
    font-weight: normal;
}
.user_je h5{
    font-size: 14px;
}
.user_more a{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ffffff;
}

/* 提现 */
.money_main{
    position: absolute;
    bottom: 0;
    left:2%;
    width: 96%;
    height: 222px;
    background-color: #fff;
    box-shadow: 1px 2px 5px #f7aaaa;
    border-radius: 6px;
    transform:translateY(60%); 
    box-sizing: border-box;
    padding: 15px;

}

.money_main h3{
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 700;

}
.money_main  span{
    display: block;
    width: 100%;
    height: 60px;
    border-bottom:1px solid #d8d7d7 ;
    position: relative;
    
}
.money_main  span b{
    font-size: 24px;
    width: 20px;
    position: absolute;
    top: 34%;
    left: 12px;
    /* transform:translateY(-50%);  */
}
.money_main  span input{
    width: 80%;
    height: 40px;
  font-size: 22px;
    position: absolute;
    left: 50px;
    top: 8px;
    font-weight: 700;
    color: #494949;
}
.money_main p{
    margin-top: 5px;
}

/* 收入 */
.money_list{
    position: absolute;
    top: 390px;
    width: 100%;
   
    background-color: #fff;
    box-sizing: border-box;
    padding: 4px 5px;
   
}
.income{
    display: flex;
    border-bottom: 1px solid #dedede;
    padding-bottom: 12px;
}
.solidLine{
    height: 50px;
    width: 1px;
    background-color: #dedede;
    position: absolute;
    left: 50%;
    top: 12px;
}
.income span{
    width: 50%;
    text-align: center;
    padding-top: 12px;
    font-size: 14px;
}
.income span p{
    color: #ff4343;
    
}
.income span p,.income span b{
line-height: 26px;
font-weight: normal;
}

.mone_more li a{
width: 100%;
height: 38px;
border-bottom: 1px solid #d8d7d7;
display: flex;
justify-content: space-around;
line-height: 38px;
}
.mone_more li:last-child a{
    border: 0;
}
.mone_more li a p,.mone_more li a span{
    width: 50%;
    
}
.mone_more li a p{
    color: #171717;
}
.mone_more li a span{
    text-align: right;
}