.more_box{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    
}
.more_btn{
    width: 100%;
}
.more_btn li{
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 16px;
    margin-top: 8px;
}
.more_btn li span{
   display: inline-block;
}
.more_btn li p{
    display: inline-block;
    padding: 0 5px;
}