html,body{
    background-color: #f6f6f6;
}

.msgBox{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
}

.msgBox h4{
    font-size: 14px;
    font-weight: 600;
    height: 42px;
    line-height: 42px;
}

.msgHeader {
    width: 100%;

}
.msgHeader ul li{
    width: 100%;
    height: 42px;
    border-top: 1px solid #ccc;
    line-height: 42px;
    display: flex;
}
.msgHeader ul li p{
    float: left;
}
.fon_t{
    width: 16px;
    /* height: 16px; */
    /* text-align: center; */
    position: relative;
    margin-right: 8px;

}
.fon_t b{
   position: absolute;
   left: -1px;
   top: 12px;
width: 16px;
height: 16px;
border-radius: 50%;
border: 1px solid #6f6f6f;
}
.fon_t i{
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    color: #ff5757;
}
.msg_main{
   margin-top: 6px;
   background-color: #fff;
   height: 42px;
   line-height: 42px;
   position: relative;
}
.msg_main b{
    font-weight: 600;
    display: inline-block;
    margin-left: 8px;
}
.msg_main p{
    display: inline-block;
}
.btn_off {
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
    width: 27px;
    height: 30px;
    margin-right: 15px;
}
.btn_off img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 40px;
}

.setPush{
    width: 100%;
    background-color: #fff;
    margin-top: 6px;
    box-sizing: border-box;
    padding: 0 10px;
}
.setPush h3{
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}
.setPush ul li{
    width: 100%;
    height: 38px;
    line-height: 38px;
    position: relative;
}
.setPush ul li p{
    display: inline-block;
}
.setPush ul li  b{
    font-weight: normal;
    color: #ccc;
}


.hot_tt{
    width: 100%;
    color: #828282;
    box-sizing: border-box;
    padding: 10px;
}