html,body{
    background-color: #f6f6f6;
}
.withdraw{
    width: 100%;
    
}
.top{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 12px;

}
.top h3{
    font-size: 14px;
    font-weight: 600;
    height: 44px;
    line-height: 44px;
}
.top section{
    width: 100%;
    padding: 5px 0;
    
}
.top section span{
    border: 1px solid #ccc;
    padding: 10px 26px;
    border-radius: 4px;
}
.top section img{
    width: 32px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 10px;
}
/* 绑定支付宝 */
.withdrawMain {
    background-color: #fff;
    margin-top: 6px;
    box-sizing: border-box;
    padding: 0 10px;
    padding-bottom: 16px;
  
}
.withdrawMain h3{
    font-size: 14px;
    font-weight: 600;
    height: 44px;
    line-height: 44px;
}
.withdrawMain_list li{
height: 36px;
line-height: 36px;
border-bottom:1px solid #ccc; 
}
.withdrawMain_list li input{
font-size: 12px;
}
.wenxintixing{
    padding: 10px;
}
.wenxintixing  h4{
    font-weight: 600;
}
.wenxintixing p{
    line-height: 22px;
}
